@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.slide:nth-last-child(1) {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  color: #fff;
  font-weight: 600;
}

.wrapper {
  display: flex;
  width: 600vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.cont {
  height: 100vw;
  width: 100vh;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  position: absolute;
  overflow-x: hidden;
  overflow-y: visible;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 100vh;
  width: 30vw;
  background-position: center;
}

.l1 {
  background-image: url(Assets/vParallaxImage/1.png);
}

.l2 {
  background-image: url(Assets/vParallaxImage/2.png);
}
.l3 {
  background-image: url(Assets/vParallaxImage/3.png);
}
.l4 {
  background-image: url(Assets/vParallaxImage/4.png);
}
.l5 {
  background-image: url(Assets/vParallaxImage/5.png);
}
